Slack Project Status Chatbot_.json
{
  "name": "Slack Project Status Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-project-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "13b3a1a2-f263-43df-88e3-7cf270816a49",
      "name": "Slack Event Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        288
      ],
      "webhookId": "617121b4-bc3d-4203-a019-9b48bca156c4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "url_verification",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "53776d0f-6027-41f4-ba34-eda06edc6f87",
      "name": "Handle URL Verification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -144,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.body.challenge }) }}",
        "options": {}
      },
      "id": "2759634c-55ad-4d0e-80e6-07ce3aa452ba",
      "name": "Respond to Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        48,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event.bot_id }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.body.event.subtype }}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{ $json.headers['x-slack-retry-num'] }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "2205ffb9-c241-4f5e-92b8-2a3d871bfc66",
      "name": "Ignore Bot Messages",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        48,
        384
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1s9ytacCDGeIpn05IjnwdhXk7MiToTy1WKGWoLaPYFvE/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s9ytacCDGeIpn05IjnwdhXk7MiToTy1WKGWoLaPYFvE/edit#gid=0"
        },
        "options": {}
      },
      "id": "73e85de6-28b9-47d9-b02c-9644f4e7b497",
      "name": "Fetch Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        256,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3vIy9uIX3WdimY6M",
          "name": "IK_SME2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const slackEvent = $('Ignore Bot Messages').item.json.body.event;\nconst sheetRows = $('Fetch Google Sheet').all().map(i => i.json);\nreturn [{\n  json: {\n    userQuestion: slackEvent.text,\n    channelId: slackEvent.channel,\n    threadTs: slackEvent.ts,\n    userId: slackEvent.user,\n    sheetData: JSON.stringify(sheetRows, null, 2)\n  }\n}];"
      },
      "id": "99ff22c0-025d-4788-b908-9c573025d308",
      "name": "Format Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        384
      ]
    },
    {
      "parameters": {
        "text": "=The user asked: {{ $json.userQuestion }}\n\nHere is the current project data:\n{{ $json.sheetData }}",
        "options": {
          "systemMessage": "You are a project status assistant for a team. You have access to a project tracker with the following fields: Project Name, Owner, Status, Priority, Phase, Due Date, Last Updated, and Notes.\n\nYour job is to answer questions about project status clearly and concisely for a Slack audience.\n\nRules:\n- For specific project lookups, return all relevant fields formatted as a Slack message\n- For broad queries (\"what's at risk?\", \"what's due this week?\"), summarize matching projects in a bulleted list\n- If no projects match, say so clearly\n- Never make up data — only use what's in the sheet\n- Keep responses under 400 words\n- Use Slack markdown: bold with *text*, bullets with •\n- Do not include the raw JSON in your response"
        }
      },
      "id": "3f912a8d-89d4-4bc7-b825-b7ab8af8063a",
      "name": "Project Status Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        704,
        384
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C0AMN3HQH54"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "id": "efd178c2-686e-4a88-b168-4af1efe3bd0f",
      "name": "Reply in Thread",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ],
      "webhookId": "b26861bf-1d58-4ab0-a000-acf98a1dbfdd",
      "credentials": {
        "slackApi": {
          "id": "ePqIuPB8egHHXA2B",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "283ec47c-41b6-4371-836c-c8be36bdec8c",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1216,
        400
      ]
    },
    {
      "parameters": {},
      "id": "c2eb3d41-69a0-4f6f-9dfe-05959469d25f",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        592
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AMQ5BGM6W",
          "mode": "list",
          "cachedResultName": "project-erros"
        },
        "text": "=*Workflow Error* in `{{ $json.workflow.name }}` >{{ $json.execution.error.message }} _{{ $json.execution.startedAt }}_",
        "otherOptions": {}
      },
      "id": "ca740dd8-bcfa-4972-ab58-7dc9df62c978",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -144,
        592
      ],
      "webhookId": "4ee800ff-f70a-43dc-bc2f-ee46a568060b",
      "credentials": {
        "slackApi": {
          "id": "ePqIuPB8egHHXA2B",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ingest\nReceives Slack message events via webhook.\n\n**Setup:** After activating, copy the webhook URL and update your Slack App manifest request_url. Bot must be invited to the watched channel.",
        "height": 368,
        "color": 4
      },
      "id": "a2177a15-498b-4939-a499-bc4e0953f0cf",
      "name": "Sticky Note Ingest",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        48
      ]
    },
    {
      "parameters": {
        "content": "## Filter\nPasses only human messages (no bot_id, no subtype). Handles Slack URL verification challenge on first setup.",
        "color": 4
      },
      "id": "50b788e3-888e-4971-861f-89c260ce7f88",
      "name": "Sticky Note Filter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "## AI Agent\nUses GPT-4o-mini (OpenAI) — deliberate choice, team has OpenAI license.\n\nHandles both specific project lookups and broad natural language queries. Output field: $json.output",
        "color": 4
      },
      "id": "27346533-4d95-4add-a38e-c46b18e42e93",
      "name": "Sticky Note Agent",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        176
      ]
    },
    {
      "parameters": {
        "content": "## Error Handling\nCatches all workflow failures and posts to #project-questions-errors.\n\n**TODO:** Ensure bot is invited to #project-questions-errors before activating.",
        "color": 3
      },
      "id": "b9a82855-83b6-4919-ad2c-fcb1f84650c0",
      "name": "Sticky Note Error",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        768
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        560,
        592
      ],
      "id": "f292c8b5-e995-4708-b95a-6f2fde5d7260",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5fIRGUWlzaurgKx2",
          "name": "Vineet Key2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Event Trigger": {
      "main": [
        [
          {
            "node": "Handle URL Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle URL Verification": {
      "main": [
        [
          {
            "node": "Respond to Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore Bot Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignore Bot Messages": {
      "main": [
        [
          {
            "node": "Fetch Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Sheet": {
      "main": [
        [
          {
            "node": "Format Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Sheet Data": {
      "main": [
        [
          {
            "node": "Project Status Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Status Agent": {
      "main": [
        [
          {
            "node": "Reply in Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply in Thread": {
      "main": [
        [
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Project Status Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a5ffd49e-0b55-4c7a-9ef9-7158f67fccc8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7dfeabeb853ec38e16f44496eb39129efb80f2f272d3f46348c822114fa20c4"
  },
  "id": "m5zAHrg6ZqBShCVp",
  "tags": []
}